
.DS_Store
V_UMAT/example_UMAT_data.csv
V_UMAT/example_VUMAT_data.csv
V_USDFLD/example_USDFLD_V2.png
V_USDFLD/example_VUSDFLD_V2.png
V_USDFLD/example_VUSDFLD_V2_data.csv
V_USDFLD/example_USDFLD_V2_data.csv
V_UMAT/UMAT_VUMAT.pdf
V_USDFLD/USDFLD_VUSDFLD_V2.pdf
V_USDFLD/USDFLD_VUSDFLD_V1.pdf
V_USDFLD/example_VUSDFLD_V1_data.csv
V_USDFLD/example_USDFLD_V1_data.csv
UVARM/UVARM.pdf
UVARM/example_UVARM_data.csv
V_UHARD/UHARD_VUHARD_V1.pdf
V_UHARD/example_VUHARD_V1_data.csv
V_UHARD/example_UHARD_V1_data.csv
V_UEXTERNALDB/UEXTERNALDB_VEXTERNALDB.pdf
V_UEXTERNALDB/example_UEXTERNALDB_data.csv
V_UEXTERNALDB/example_VEXTERNALDB_data.csv
